[user]
	email = igor.krupenja@gmail.com
	name = Igor Krupenja
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[push]
	default = current
  followTags = true
[core]
  editor = code --wait
  excludesfile = /Users/igor/.gitignore_global
[diff]
  tool = vscode
[difftool]
  prompt = false
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  conflictstyle = diff3
  tool = intellij
[mergetool "intellij"]
  cmd = /Applications/Android\\ Studio.app/Contents/MacOS/studio merge $(cd $(dirname \"$LOCAL\") && pwd)/$(basename \"$LOCAL\") $(cd $(dirname \"$REMOTE\") && pwd)/$(basename \"$REMOTE\") $(cd $(dirname \"$BASE\") && pwd)/$(basename \"$BASE\") $(cd $(dirname \"$MERGED\") && pwd)/$(basename \"$MERGED\")
  trustExitCode = true
	keepBackup = false
[credential]
  helper = store
[http]
	cookiefile = /Users/igor/.gitcookies
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[branch]
	autosetuprebase = always
[mergetool]
	keepBackup = false
