[user]
email = igor.krupenja@gmail.com
name = Igor Krupenja
[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
pager = true
[push]
default = current
followTags = true
[core]
editor = code --wait
excludesfile = /Users/igor/.gitignore_global
hooksPath = /Users/igor/Projects/dotfiles/git/hooks
[diff]
tool = code
[difftool]
prompt = false
[difftool "code"]
cmd = code --wait --diff $LOCAL $REMOTE
[credential]
helper = store
[http]
cookiefile = /Users/igor/.gitcookies
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[init]
defaultBranch = main
[branch]
autosetuprebase = always
[mergetool]
keepBackup = false
